<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FilterPlayground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FilterPlaygroundMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FilterPlaygroundPreviewExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FilterPlaygroundThumbnailExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>985A42011F2CF8F200636E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985A42151F2CF8F300636E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985A42201F2CF8F300636E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9897166F1F67E3C800E7C20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989716831F67E3C900E7C20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
